---
description: 
globs: 
alwaysApply: true
---
# About this project
This is Homepage for community bar named "SOY-POY"

# Control server
This project is developed on Docker.
If you want to start or down server, you need to use following commands.
```
// Lanch server
docker compose up -d

// Restart server
docker compose restart

// Shutdown server
docker compose down
```

# Package management
We use `pnpm` as package management.
You have to `pnpm` insted of `npm`, if you want to install any package.

# Sample images for development
You can use `Lorem Picsum(https://picsum.photos/)` as sample image.
You have to add parameter to URL like that.
```
https://picsum.photos/<id>/<width>/<hight>
```

# Coding
- You don't need to add the comment outs as they are self explanatory.

