@theme {
  --marquee-duration: 70s;
  --marquee-timing: linear;
  --marquee-iteration: infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee-reverse {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-marquee {
  animation: marquee var(--marquee-duration) var(--marquee-timing) var(--marquee-iteration);
}
.animate-marquee-reverse {
  animation: marquee-reverse var(--marquee-duration) var(--marquee-timing) var(--marquee-iteration);
}
